<div class="container">
<div class="row">
<div class="col-md-12">

<h1 class="dashboard">{{welcome}}</h1>
                      
<!-- NgClass, Ng style 

1. ngClass support for Arrays, strings of classes, configuration objects
2. ngClass support for component functions
3. Component Styling using ngClass - when to use it and when to use other alternatives?

The expression passed on to ngClass can be:

1. an object
2. an array
3. a string

-->

<!-- <button (click)="toggleState()">Toggle State</button>
<p>Obtaining the CSS classes from the component method:</p>
<button [ngClass]="calculateClasses()" (click)="submit()">Button</button>
<button [ngClass]="['btn', 'btn-primary']">Button</button>
<button [ngClass]="'btn btn-primary'" type="submit">Button</button>
<button [ngClass]="{ btn:true, 'btn-primary':false }"> Button </button>
<button class="btn" [class.btn-primary]="true" type="submit">Button</button>




      <div>
      <p><b>Add Person</b></p>
      <p>
          Name: <input [(ngModel)]="name">,
          Age: <input [(ngModel)]="age"> 
      </p>
      </div>
      <button (click)="add()">ADD</button>
      
      <br/><b>Aliasing index, even, odd </b> <br/><br/>
      
      <div *ngFor="let person of allPersons; index as i; even as isEven; odd as isOdd">
         
         <font color="blue" *ngIf="isEven">{{i + 1}}: {{person.personId}} - {{person.name}} - {{person.age}} </font>   
         <font color="red" *ngIf="isOdd">{{i + 1}}: {{person.personId}} - {{person.name}} - {{person.age}} </font>  
         
         <input [(ngModel)]="person.name">
         <input [(ngModel)]="person.age">

         
         <button (click)="remove(person.personId)">Remove</button>       
      </div> -->
      


      

      
      <!-- <br/><b>Aliasing first, last </b> <br/><br/>
      <div *ngFor="let person of allPersons; index as i; first as isFirst; last as isLast">
         <font color="blue" *ngIf="isFirst; else elseBlock1">{{i + 1}}: {{person.personId}} - {{person.name}} - {{person.age}} </font>  
         <ng-template #elseBlock1>   
            <font color="red" *ngIf="isLast; else elseBlock2">{{i + 1}}: {{person.personId}} - {{person.name}} - {{person.age}} </font>  
            <ng-template #elseBlock2>   
                {{i + 1}}: {{person.personId}} - {{person.name}} - {{person.age}}
            </ng-template>	  
         </ng-template>
         <input [(ngModel)]="person.name"> <button (click)="remove(person.personId)">Remove</button>       
      </div>
      
      <b>Aliasing ngForOf </b>
      <ul>
         <li *ngFor="let person of obsPersons | async as persons; index as i">
             {{i + 1}} out of {{persons.length}}: {{person.personId}} - {{person.name}} - {{person.age}}   
             <input [(ngModel)]="person.name"> <button (click)="remove(person.personId)">Remove</button>       
         </li>
      </ul>
      
      <br/><b>Using trackBy </b>
      <ul>
        <li *ngFor="let person of allPersons; index as i; trackBy: personTrackByFn">
             {{i + 1}}: {{person.personId}} - {{person.name}} - {{person.age}}   
             <input [(ngModel)]="person.name"> <button (click)="remove(person.personId)">Remove</button>       
         </li>
      </ul> -->


      <h2>Add Details</h2>
      <div>
        <label>User Id:
           <input name="id">
        </label>
        <label>User name:
          <input name="name">
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(name)">
          add
        </button>
      </div>
       
      <ul class="username" *ngFor="let user of users">
        <li>
          {{user.id}}
        </li>
        <li>
          {{user.name}}
        </li>
      </ul>


      <input type="text" #quan />
      <button type="button" (click)="quant(quan.value)"> Result </button>
    

</div>   
</div>
</div>